2026_06_05_lesson5.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1712ccad-7ca3-4182-9e82-2fb3d7c320c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1IfoDOU5oonoCRNW23LZzqPUR1qx6XJbp",
            "mode": "list",
            "cachedResultName": "n8n_LTRi",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1IfoDOU5oonoCRNW23LZzqPUR1qx6XJbp"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        0
      ],
      "id": "de977749-e690-4616-8806-201e6164c8c5",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UuwAiNy1MABcXWLE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        0
      ],
      "id": "89da3e0e-d9c8-4a54-bdfc-7ded686a6197",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UuwAiNy1MABcXWLE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        0
      ],
      "id": "379a7e83-d983-4807-8f3c-71b314c18503",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-ltri",
          "mode": "list",
          "cachedResultName": "n8n-ltri"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        0
      ],
      "id": "0069669b-84eb-4d00-bdaf-f354b1bd64ee",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bOgm2RIPJWKwaYQO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1312,
        224
      ],
      "id": "49d6f9b2-4772-42ef-8566-86b439e8cc14",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "intfloat/multilingual-e5-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1184,
        224
      ],
      "id": "ee42c451-b2e8-484a-bd5c-a83d383279cb",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "0UUpwEAqlHIlQAOA",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        304
      ],
      "id": "f3800b3a-d32b-4a64-bd50-fedc81ae6e81",
      "name": "When chat message received",
      "webhookId": "fc1fc909-b32e-4f3a-9095-fa863ec83be4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "你是一個信用卡權益說明文件的專業助理。\n你的所有回答「只能」根據已提供的文件內容，不得使用常識推測、外部知識或自行補充。\n如果文件中沒有明確資訊，請明確回答「文件中未提及」。\n如果問題是有需要計算,請依據文件提供的內容計算\n\n所有回應必須使用「繁體中文」。\n回答時請保持精確、條列清楚、用詞正式，不加入個人意見。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        304
      ],
      "id": "117cd39e-17b1-4740-bc35-a21e05bcda3c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        528
      ],
      "id": "a84c2193-7b66-4bf9-ab38-bc8d0b193508",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "puHSzMoUUx9WwTbB",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "提供給客服人員的資料",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-ltri",
          "mode": "list",
          "cachedResultName": "n8n-ltri"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        528
      ],
      "id": "dc768347-5351-40d8-944a-f3792f565053",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "bOgm2RIPJWKwaYQO",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}
